
<h1>Warp MIDI Sequencer</h1>
<hr/>

<p>
Warp is a revolutionary new music-theory-focused MIDI sequencer for software and hardware synthesizers, designed for both composition and dynamic live performance.</p>

<p>
Inspirations include some of our favorite hardware and software such as the Sequentix Cirklon, the Elektron Monomachine, and Ableton Live. Like Ableton, Warp is grid based, yet
instead of a piano roll, patterns are typed in. With an emphasis on selective randomness, choreographed key-changes, and emergent behaviors, you haven't seen anything like it.
</p>

{{ begin_info_block() }}
Warp is currently in a developer beta preview stage. For now, you'll need to write a small amount of {{ doc('api', 'Python') }} to compose songs.
The GUI releasing later this year will make it more accessible to musicians everywhere. Questions, ideas, or feedback? <A HREF="mailto:michael@michaeldehaan.net">Email Michael</A>.
{{ end_info_block() }}

<p>Warp is a free program - it is Apache 2 licensed and written in Python.</p>

<h2>Demo Tracks</h2>

<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1106289937&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/mpdehaan" title="laserllama" target="_blank" style="color: #cccccc; text-decoration: none;">laserllama</a> · <a href="https://soundcloud.com/mpdehaan/sets/warp-sequencer-demos-http" title="Warp Sequencer Demos - http://warpseq.com/" target="_blank" style="color: #cccccc; text-decoration: none;">Warp Sequencer Demos - http://warpseq.com/</a></div>

<font size=-1><i>Source code for selected demo tracks are available in <a href="https://bitbucket.org/laserllama/warpseq/src/master/examples/api_demo_tracks/">git</A></i></font>

{{ begin_info_block() }}
Help support Warp! Join the <A HREF="https://www.patreon.com/mpdehaan?fan_landing=true">Warp Club Patreon</A> for access to extra tips & tricks, inside blog posts, sample files, live video chats, the community discord channel, and more!
{{ end_info_block() }}


<h2>Ready To Get Started?</h2>

<p>
To learn more, explore the documentation using the links on your left.
We encourage you to <A HREF="mailto:michael@michaeldehaan.net">reach out</A> and share your stories, feature ideas, and music with us.  For those about to rock - we salute you.
</p>

<p>
-- <A HREF="http://michaeldehaan.net">Michael DeHaan</A>
</p>

